img {
	width: 100%;
	height: auto;
}
p {
	margin-bottom: 0;
}
body {
	background-color: #5f84a2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}
/* HEADER */
header {
	padding: 20px 0;
}
.navbar {
	background-color: transparent;
	position: absolute;
	padding: 10px 0;
	top: 0;
	width: 100%;
}
.navbar-collapse {
	flex-grow: 0;
}
.navbar-brand {
	font-size: 1.5rem;
	color: #fff;
	font-weight: bold;
}
.nav-link {
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
}
/* HERO */
.hero {
	padding: 100px 0;
}
.hero-info {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.hero-img {
	text-align: center;
	margin-right: 50px;
	z-index: 1;
	width: 275px;
	height: auto;
}
.hero-img img {
	border-radius: 50%;
	border: 3px solid #fff;
	padding: 13px;
}
.hero-txt {
	color: #fff;
	z-index: 1;
}
.hero-slide {
	display: flex;
	align-items: center;
}
.options {
	margin-left: 15px;
	height: 90px;
	line-height: 90px;
	overflow: hidden;
	padding-left: 0;
	margin-bottom: 0;
}
.options li {
	list-style: none;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	position: relative;
	top: 0px;
	animation: slide 12s steps(4) infinite;
}
@keyframes slide {
	100% {
		top: -360px;
	}
}
.options li span {
	position: relative;
	margin: 5px 0;
	line-height: 90px;
}
.options li span:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #5f84a2;
	border-left: 2px solid #fff;
	animation: typing 3s steps(10) infinite;
}
@keyframes typing {
	40%,
	60% {
		left: calc(100% + 30px);
	}
	100% {
		left: 0;
	}
}
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}
.icon {
	padding: 25px;
	border-radius: 10px;
}
.icon:first-child,
.icon:nth-child(2) {
	margin-right: 20px;
}
.facebook {
	background-color: #3b5998;
}
.whatsapp {
	background-color: #25d366;
}
.github {
	background-color: #6e5494;
}
.social a {
	color: #fff;
	font-weight: bold;
}
.social i{
	font-size: 3rem;
}
/* WORK */
.work {
	padding-bottom: 50px;
	background-color: #194569;
}
.work__title {
	text-align: center;
	padding: 30px 0;
}
.work__title h1 {
	color: #fff;
	font-size: 3.8rem;
	font-weight: bold;
}
.more__btn {
	text-align: center;
}
.more__btn a {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
}
.nav {
	justify-content: center;
}
.work nav {
	margin-bottom: 20px;
}
.nav-home-tab {
	background-color: #5f84a2 !important;
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 10px 20px;
	border-radius: 10px;
}
.nav-tabs {
	border: none;
}
.nav-tabs .nav-link {
	border: none;
	background-color: #5f84a2 !important;
	color: #fff !important;
	padding: 13px 30px;
	width: 25%;
	border-radius: 0;
	font-size: 1.6rem;
}
.nav-tabs .nav-link.active:hover {
	background-color: #fff !important;
}
.nav-tabs .nav-link.active {
	border-color: transparent;
	background-color: #fff !important;
	color: #000 !important;
}
.nav-tabs .nav-link:hover {
	background-color: #4c6b85 !important;
}
.tab-pane {
	padding: 30px 0;
	text-align: center;
	color: #fff;
}
.work__item {
	box-shadow: 0 0 10px #fff;
	transition: 0.3s all;
	margin-bottom: 30px;
}
.work__img {
	overflow: hidden;
}
.work__item img {
	transition: 0.3s all;
	width: 100%;
	z-index: -1 !important;
}
.work__item:hover img {
	transform: scale(1.1);
}
.work__item-info {
	background-color: #fff;
	padding: 10px;
}
.work__item-info h3 {
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: #000;
}
.work__item-info p {
	font-size: 1rem;
	color: #000;
	font-weight: 500;
	margin-bottom: 10px;
}
.work__item-links i {
	color: #000;
	font-size: 2rem;
}
#nav-profile span:first-child {
	padding-right: 15px;
}
.tags {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.tags span {
	background-color: #194569;
	border-radius: 10px;
	padding: 10px;
	font-size: 0.8rem;
	margin-bottom: 10px;
	margin-right: 10px;
}
.tab-pane h1 i {
	color: rgb(202, 21, 21);
}
/* RECENT PROJECTS */
.recent-projects {
	padding-top: 60px;
	padding-bottom: 80px;
}
.project-header{
	text-align: center;
	padding-bottom: 60px;
}
.project-header h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: bold;
}
.project__item{
	margin-bottom: 30px;
	box-shadow: 0 0 30px #000;
}
.project__img {
	overflow: hidden;
}
.project__img img {
	transition: 0.3s all;
	z-index: -1 !important;
}
.project__item:hover img {
	transform: scale(1.1);
}
.project__info {
	background-color: #fff;
	padding: 20px;
	text-align: center;
}
.project__info h3 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: #000;
}
.project__info p {
	font-size: 1.1rem;
	color: #000;
	font-weight: 500;
	margin-bottom: 1rem;
}
/* SKILLS */
.skills{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #194569;
}
.skills__title {
	text-align: center;
	padding-bottom: 60px;
}
.skills__title h2{
	color: #fff;
	font-size: 3.8rem;
	font-weight: bold;
}
.slider-item-icon{
	color: #fff;
	text-align: center;
}
.slider-item-icon i {
	font-size: 3rem;
}
/* TESTMONIALS */
.testmonials{
	padding-top: 50px;
	padding-bottom: 50px;
}
.testmonials-title{
	text-align: center;
	padding-bottom: 60px;
}
.testmonials-title h2{
	color: #fff;
	font-size: 3.8rem;
	font-weight: bold;
}
/* FOOTER */
footer {
	background-color: #194569;
	width: 100%;
	padding: 7px;
	text-align: center;
	color: #fff;
}
footer span:first-child {
	padding-right: 10px;
}
footer span a {
	color: white;
	text-decoration: none;
	padding-left: 10px;
	font-weight: 600;
	transition: 0.4s all;
}