@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
p {
	margin-bottom: 0;
}
body {
	background-color: #5f84a2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}
.form-check-input:focus{
	box-shadow: none;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 50px;
}
/* DARK MODE */
.dark-mode,
.dark-mode .options li span:after{
	background-color: #000;
}
.dark-mode .work,
.dark-mode .skills, .dark-mode footer{
	background-color: #2c2c2c;
}
.dark-mode .facebook,
.dark-mode .whatsapp,
.dark-mode .github{
	background-color: transparent;
	border: 2px solid #fff;
}
.dark-mode .nav-tabs .nav-link{
	background-color: #838383 !important;
}
.dark-mode .nav-tabs .nav-link:hover{
	background-color: #616161 !important;
}
.dark-mode .tab-pane h1 i{
	color: aliceblue;
}
.dark-mode .testmonials-slider{
	background: #808080;
}
.dark-mode .slick-dots{
	background: #525252;
}
.dark-mode .more__btn a, .dark-mode .project__info a{
	background-color: #727272;
	border: none;
}
.dark-mode .more__btn a:hover{
	background-color: #616161;
}
.dark-mode .tags span, .dark-mode .form-check-input:checked{
	background-color: #7d7d7d;
	border: none;
}
.dark-mode .fixed{
	background-color: #2c2c2c;
	box-shadow: 0 0 30px #fff;
}
/* HEADER */
header {
	padding: 20px 0;
}
.navbar {
	background-color: transparent;
	position: absolute;
	padding: 10px 0;
	top: 0;
	width: 100%;
}
.navbar-nav{
	align-items: center;
}
.navbar-collapse {
	flex-grow: 0;
}
.navbar-brand {
	font-size: 1.5rem;
	color: #fff;
	font-weight: bold;
	font-family: Electrolize;
}
.nav-link {
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
}
.form-switch .form-check-input{
	margin-left: 0;
	width: 3em;
	height: 1.5rem;
}
.form-switch{
	padding-left: 0;
}
.form-check{
	padding-left: 0;
	margin-bottom: 0;
}
.form-check-input{
	margin-top: 0;
}
.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	right: 0;
	background-color: #4780af;
	z-index: 2;
	box-shadow: 0 0 30px #000;
}
/* HERO */
.hero {
	padding: 100px 0;
}
.hero-info {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.hero-img {
	text-align: center;
	margin-right: 50px;
	z-index: 1;
}
.hero-img img {
	border-radius: 50%;
	border: 3px solid #fff;
	padding: 13px;
	height: 100%;
}
.hero-txt {
	color: #fff;
	z-index: 1;
}
.hero-slide {
	display: flex;
	align-items: center;
}
.options {
	margin-left: 15px;
	height: 90px;
	line-height: 90px;
	overflow: hidden;
	padding-left: 0;
	margin-bottom: 0;
}
.options li {
	list-style: none;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	position: relative;
	top: 0px;
	animation: slide 12s steps(4) infinite;
}
@keyframes slide {
	100% {
		top: -360px;
	}
}
.options li span {
	position: relative;
	margin: 5px 0;
	line-height: 90px;
}
.options li span:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #5f84a2;
	border-left: 2px solid #fff;
	animation: typing 3s steps(10) infinite;
}
@keyframes typing {
	40%,
	60% {
		left: calc(100% + 30px);
	}
	100% {
		left: 0;
	}
}
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
}
.icon {
	padding: 25px;
	border-radius: 10px;
}
.icon:first-child,
.icon:nth-child(2) {
	margin-right: 20px;
}
.facebook {
	background-color: #3b5998;
}
.whatsapp {
	background-color: #25d366;
}
.github {
	background-color: #6e5494;
}
.social a {
	color: #fff;
	font-weight: bold;
}
.social i{
	font-size: 3rem;
}
/* WORK */
.work {
	padding-bottom: 50px;
	background-color: #194569;
}
.work__title {
	text-align: center;
	padding: 30px 0;
}
.work__title h1 {
	color: #fff;
	font-size: 3.8rem;
	font-weight: bold;
}
.more__btn {
	text-align: center;
}
.more__btn a {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
}
.nav {
	justify-content: center;
}
.work nav {
	margin-bottom: 20px;
}
.nav-home-tab {
	background-color: #5f84a2 !important;
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 10px 20px;
	border-radius: 10px;
}
.nav-tabs {
	border: none;
}
.nav-tabs .nav-link {
	border: none;
	background-color: #5f84a2 !important;
	color: #fff !important;
	padding: 13px 30px;
	width: 25%;
	border-radius: 0;
	font-size: 1.6rem;
}
.nav-tabs .nav-link.active:hover {
	background-color: #fff !important;
}
.nav-tabs .nav-link.active {
	border-color: transparent;
	background-color: #fff !important;
	color: #000 !important;
}
.nav-tabs .nav-link:hover {
	background-color: #4c6b85 !important;
}
.tab-pane {
	padding: 30px 0;
	text-align: center;
	color: #fff;
}
.work__item {
	box-shadow: 0 0 10px #fff;
	transition: 0.3s all;
	margin-bottom: 30px;
}
.work__img {
	overflow: hidden;
}
.work__item img {
	transition: 0.3s all;
	width: 100%;
	height: auto;
	z-index: -1 !important;
}
.work__item:hover img {
	transform: scale(1.1);
}
.work__item-info {
	background-color: #fff;
	padding: 25px;
}
.work__item-info h2 {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: #000;
}
.work__item-info p {
	font-size: 1rem;
	color: #000;
	font-weight: 500;
	margin-bottom: 10px;
}
.work__item-links i {
	color: #000;
	font-size: 2rem;
}
#nav-profile span:first-child {
	padding-right: 15px;
}
.tags {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.tags span {
	background-color: #194569;
	border-radius: 10px;
	padding: 10px;
	font-size: 0.8rem;
	margin-bottom: 10px;
	margin-right: 10px;
}
.tab-pane h1 i {
	color: rgb(202, 21, 21);
}
/* RECENT PROJECTS */
.recent-projects {
	padding-top: 60px;
	padding-bottom: 80px;
}
.project-header{
	text-align: center;
	padding-bottom: 60px;
}
.project-header h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: bold;
}
.project__item{
	margin-bottom: 30px;
	box-shadow: 0 0 30px #000;
}
.project__img {
	overflow: hidden;
}
.project__img img {
	transition: 0.3s all;
	width: 100%;
	height: auto;
	z-index: -1 !important;
}
.project__item:hover img {
	transform: scale(1.1);
}
.project__info {
	background-color: #fff;
	padding: 20px;
	text-align: center;
}
.project__info h3 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: #000;
}
.project__info p {
	font-size: 1.1rem;
	color: #000;
	font-weight: 500;
	margin-bottom: 1rem;
}
/* SKILLS */
.skills{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #194569;
}
.skills__title {
	text-align: center;
	padding-bottom: 60px;
}
.skills__title h2{
	color: #fff;
	font-size: 3.8rem;
	font-weight: bold;
}
.slider-item-icon{
	color: #fff;
	text-align: center;
}
.slider-item-icon i {
	font-size: 3rem;
}
/* TESTMONIALS */
.testmonials{
	padding-top: 50px;
	padding-bottom: 100px;
}
.testmonials-title{
	text-align: center;
	padding-bottom: 40px;
}
.testmonials-title h2{
	color: #fff;
	font-size: 3.8rem;
	font-weight: bold;
}
.testmonials-slider{
	height: 100%;
	width: 100%;
	text-align: center;
}
.testmonials-slider{
	background: linear-gradient(225deg,#b7d0e1 29%,#5f84a2 61%);
	border-radius: 10px;
}
.testmonial-content i{
	color: #fff;
	font-size: 2rem;
}
.testmonial-content p{
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 20px 0;
}
.testmonial-content h3{
	color: rgb(255, 255, 255);
	font-size: 1rem;
	font-weight: bold;
	padding: 20px 0;
}
.slick-dots{
	background: linear-gradient(225deg,#5f84a2 29%,#b7d0e1 61%);
	height: auto;
	position: relative;
	bottom: 0;
	padding: 25px 0;
	border-radius: 10px;
}
.slick-dots li {
	margin-right: 15px;
	width: 40px;
	height: 50px;
}
.slick-dots li:first-child button:before {
	background-image: url('/public/imgs/client-1.webp');
	background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	content: '';
	width: 50px;
	height: 50px;
	line-height: 0;
	border-radius: 50%;
	margin: 0 auto;
}
.slick-dots li:nth-child(2) button::before{
	background-image: url('/public/imgs/client-2.webp');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	content: '';
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.slick-list{
	padding: 40px 0;
}
.slick-dots li button{
	height: auto;
	width: auto;
	display: inherit;
}
.slick-dots li.slick-active button:before{
	opacity: 1;
}
/* SCROLLUP */
.scrollup{
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	transition: 0.5s all;
}
.scroll{
	width: 30px;
	height: 30px;
	background-color: #4c6b85;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 30px;
	box-shadow: 0 0 30px #fff;
}
.scroll i{
	color: #fff;
	font-size: 2rem;
}
.show{
	opacity: 1;
}
/* FOOTER */
footer {
	background-color: #194569;
	width: 100%;
	padding: 10px;
	text-align: center;
	color: #fff;
}
footer span:first-child {
	padding-right: 10px;
}
footer span a {
	color: white;
	text-decoration: none;
	padding-left: 10px;
	font-weight: 600;
	transition: 0.4s all;
}